// prettify is used by [StackEdit](https://stackedit.io)

@mixin prettify-hybrid($bg, $sel, $f, $y, $c, $r, $g, $p, $b, $a, $o) {
  &.prettyprint code {
    background: $bg;
    display: block;
    padding: .5em;

    // SPAN elements with the classes below are added by prettyprint.
    .pln { color: $f; }  // plain text

    @media screen {
      .str,   // string content
      .atv {  // a markup attribute value
        color: $g;
      }

      .kwd {  // a keyword
        color: $p;
      }

      .dec,
      .com {  // a comment
        color: $c;
      }

      .tag,   // a markup tag name
      .fun,   // a function name
      .typ {  // a type name
        color: $b;
      }

      .pun,   // punctuation
      .opn,   // open bracket
      .clo {  // close bracket
        color: $f;
      }

      .var {  // a declaration; a variable name
        color: $r;
      }

      .atn,   // a markup attribute name
      .lit {  // a literal value
        color: $o;
      }
    }
  }
}
