// Tomorrow Night Pallette
$tn-background:   #1d1f21;
$tn-current-line: #282a2e;
$tn-selection:    #373b41;
$tn-foreground:   #c5c8c6;
$tn-comment:      #969896;
$tn-red:          #c66;
$tn-orange:       #de935f;
$tn-yellow:       #f0c674;
$tn-green:        #b5bd68;
$tn-aqua:         #8abeb7;
$tn-blue:         #81a2be;
$tn-purple:       #b294bb;

$background:       $tn-background;
$primary:          $tn-foreground;
$alt-background:   $tn-current-line;
$strong:           lighten($primary, 20%);
$strong-highlight: $tn-comment;
$highlight:        $tn-selection;
$link:             $tn-yellow;
$accent0:          $tn-blue;
$accent1:          $tn-green;
$accent2:          $tn-aqua;
$accent3:          $tn-purple;
$alert:            $tn-red;
$warning:          $tn-orange;
$selection:        rgba($tn-selection, .7);
