$base-font-size: 87.5%;

// Tomorrow Pallete
$t-background:   #fff;
$t-current-line: #efefef;
$t-selection:    #d6d6d6;
$t-foreground:   #4d4d4c;
$t-comment:      #8e908c;
$t-red:          #c82829;
$t-orange:       #f5871f;
$t-yellow:       #eab700;
$t-green:        #718c00;
$t-aqua:         #3e999f;
$t-blue:         #4271ae;
$t-purple:       #8959a8;

// Tomorrow Night Pallette
$tn-background:   #1d1f21;
$tn-current-line: #282a2e;
$tn-selection:    #373b41;
$tn-foreground:   #c5c8c6;
$tn-comment:      #969896;
$tn-red:          #c66;
$tn-orange:       #de935f;
$tn-yellow:       #f0c674;
$tn-green:        #b5bd68;
$tn-aqua:         #8abeb7;
$tn-blue:         #81a2be;
$tn-purple:       #b294bb;

$background:        $t-background;
$primary:           $t-foreground;
$alt-background:    $t-current-line;
$strong-background: darken($alt-background, 20%);
$strong:            darken($primary, 20%);
$strong-highlight:  $t-comment;
$highlight:         $t-selection;
$link:              $t-orange;
$accent0:           $t-blue;
$accent1:           $t-green;
$accent2:           $t-aqua;
$accent3:           $t-purple;
$alert:             $t-red;
$warning:           $t-yellow;
$selection:         rgba($t-selection, .7);

$inv-background:        $tn-background;
$inv-primary:           $tn-foreground;
$inv-alt-background:    $tn-current-line;
$inv-strong-background: lighten($inv-alt-background, 20%);
$inv-strong:            lighten($inv-primary, 20%);
$inv-strong-highlight:  $tn-comment;
$inv-highlight:         $tn-selection;
$inv-link:              $tn-orange;
$inv-accent0:           $tn-blue;
$inv-accent1:           $tn-green;
$inv-accent2:           $tn-aqua;
$inv-accent3:           $tn-purple;
$inv-alert:             $tn-red;
$inv-warning:           $tn-yellow;
$inv-selection:         rgba($tn-selection, .7);
